{% extends 'main/base.html' %}

{% block title %}تسجيل الحضور{% endblock %}

{% block header_buttons %}
<a href="{% url 'student_home' %}" class="nav-btn">Home</a>
<a href="{% url 'logout' %}" class="nav-btn">Logout</a>
{% endblock %}

{% block content %}

<div class="attendance-wrapper">
    <div class="attendance-card">
        <h2>تسجيل الحضور</h2>

        {% if messages %}
    {% for message in messages %}
        <div class="{% if message.tags == 'success' %}success-msg{% else %}error{% endif %}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}

        {% if already_marked %}
            <div class="already-marked">تم تسجيل حضورك بالفعل ✅</div>
        {% else %}
            <form method="POST">
                {% csrf_token %}
                <input
                    type="text"
                    name="student_id"
                    id="student_id"
                    placeholder="أدخل الكود"
                    class="student-id-input"
                    required
                    autofocus
                >
                <button type="submit" class="submit-btn">Submit</button>
            </form>
        {% endif %}
    </div>
</div>

{% endblock %}
