{% extends 'main/base.html' %}

{% block title %}اختيار الفرقة{% endblock %}

{% block header_buttons %}
<a href="{% url 'home' %}" class="nav-btn">Home</a>
<a href="{% url 'logout' %}" class="nav-btn">Logout</a>
{% endblock %}

{% block content %}

<div class="level-page">
    <h2>اختار الفرقة</h2>
    <div class="level-buttons">
        <a href="{% url 'lectures_by_level' 1 %}" class="btn">الفرقة الأولى</a>
        <a href="{% url 'lectures_by_level' 2 %}" class="btn">الفرقة الثانية</a>
        <a href="{% url 'lectures_by_level' 3 %}" class="btn">الفرقة الثالثة</a>
        <a href="{% url 'lectures_by_level' 4 %}" class="btn">الفرقة الرابعة</a>
    </div>
</div>

{% endblock %}
